body {
<<<<<<< HEAD
  background-color: #ffffff;
=======
  background-color: #f9f9fb;
>>>>>>> 1e98d4a4927aefdc449b4e8aab81a3d61b5a14d0
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 0; */
  width: 100vw;
  height: 100vh;
  font-family: 'Pretendard-Regular', 'Arial Narrow', Arial, sans-serif;
  font-weight: 400;
}

/* #root {
  height: 100%;
  width: 100%;
} */
